<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark navbar-below" style="background-color: #045e94;">
      <h6 class="display-8 navbar-text mx-auto">&copy;&nbsp; Jungyu Lee - 301236221 - Authentication - COMP229 - Fall 2022</h6>
    </nav>
  </footer>